[dev]
guild_id = Discord Guild ID
channel_id = Discord Channel ID
user_id = Discord User ID

[feature_flags]
# Enable or disable features
# 0 = disabled
# 1 = enabled
init = 1
ping = 0
roles = 0
tablebot = 0
