[dev]
guild_id = Discord Guild ID
channel_id = Discord Channel ID
user_id = Discord User ID

[feature_flags]
# Enable or disable features
# 0 = disabled
# 1 = enabled
init_bot = 1
ping = 1
roles = 1
code_quote = 1
